.footer {
    width: 100%;
    font-size: $font-size-default;
    line-height: 50px;
    background-color: $second-color;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-style: italic;
    flex: none;
}