$font-size-default: 15px;
$font-size-tasks: 25px;
$font-size-buttons: 20px;

$first-color: #ffe5d9;
$second-color: #d8e2dc;
$third-color: #ffcad4;
$fourth-color: #f4acb7;

$button-color: #9d8189;




